/* Righello laterale */
.ruler {
    padding-left: 10px;
    padding-right: 10px;
}

/* Intestazione */
header {
    background-color: rgb(44, 112, 181);
    padding-top: 80px;
    background-image: url("./img/pattern.png");
    background-size: 300;   
}

#LogoBooleaner {
    width: 15%;
}

h1 {
    font-size: 50px;
    margin: 15px 0 0 0;
}

/* Autore */
#autor {
    font-style: normal;
    color: rgb(128, 128, 128);
 }
 
#htext {
     text-decoration: none;
  }

#date {
    color: rgb(128, 128, 128);
    font-size: small;
 }


/* Img article */
.Timb {
    height: 500px;
 }

 figure {
    margin: 0px;
 }

 figcaption {
    font-weight: 700;
    font-size: small;
 }


 /* List */
 .first-list {
    padding: 15px;
 }


 /* Table article */
 .colortable {
  border-collapse: collapse;
   text-align: :left;
}

 .last-column {
    width: 50%;
 }

.tablehead {
   background-color: red
}

.bluerow {
   background-color: rgb(0, 179, 255)
}


/* Ads section */
.ads-section {
   color: lightgrey;
}

.first-ad {
  width: 300px;
  height: 150px;
  background-image: url(./img/monitor.jpg);
}

.ad-title {
   font-size: 24px;
   font-weight: 600;
   color: white;
   padding: 10px;
   margin: 10px;
}

.second-ad {
   width: 300px;
   height: 150px;
   background-image: url(./img/graph.jpg);
 }